
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="margin-top:3%">
    <h2 style="margin-left:5%;">SA</h2>

    @Html.Action("_partialEmployeeList", "Home");  @*buraya partial-adi/controller-adi*@









</div>

