USE [DapperMVC]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 20.03.2020 15:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[DateOfBirth] [datetime] NULL,
	[StartDate] [datetime] NULL,
	[Department] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [DateOfBirth], [StartDate], [Department], [PhoneNumber], [Email], [City]) VALUES (3, N'Kearney', N'Marchello', CAST(N'1984-03-18T00:00:00.000' AS DateTime), CAST(N'2019-12-07T00:00:00.000' AS DateTime), N'Training', N'529-356-8548', N'kmarchello0@indiatimes.com', N'Koronadal')
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [DateOfBirth], [StartDate], [Department], [PhoneNumber], [Email], [City]) VALUES (4, N'Willem', N'Escot', CAST(N'1976-10-29T00:00:00.000' AS DateTime), CAST(N'2019-10-22T00:00:00.000' AS DateTime), N'Product Management', N'500-196-0553', N'wescot1@arizona.edu', N'Cachoeira')
INSERT [dbo].[Employee] ([Id], [FirstName], [LastName], [DateOfBirth], [StartDate], [Department], [PhoneNumber], [Email], [City]) VALUES (5, N'Greg', N'Feavers', CAST(N'1974-09-27T00:00:00.000' AS DateTime), CAST(N'2019-07-29T00:00:00.000' AS DateTime), N'Product Management', N'141-889-0784', N'gfeavers2@comcast.net', N'Kadengan')
GO
SET IDENTITY_INSERT [dbo].[Employee] OFF
